<% if current_user.has_role? :backoffice %>
<div style="position: relative; left: 50px">
  <table>
    <td>
      <tr>
        <td><b>CNPJ:</b></td>
        <td><%= @admin_ticket.cnpj %></td>
      </tr>
      <tr>
        <td><b>Nome:</b></td>
        <td><%= @admin_ticket.name %></td>
      </tr>
      <tr>
        <td><b>Descrição:</b></td>
        <td><%= @admin_ticket.description %></td>
      </tr>
      <tr>
        <td><b>Cidade:</b></td>
        <td><%= @admin_ticket.city %></td>
      </tr>
      <tr>
        <td><b>Estado:</b></td>
        <td><%= @admin_ticket.state %></td>
      </tr>
      <tr>
        <td><b>Endereço:</b></td>
        <td><%= @admin_ticket.address %></td>
      </tr>
      <tr>
        <td><b><%= form.label :audio %></b></td>
        <td><%= @admin_ticket.audio %></td>
      </tr>
      <tr>
        <td><b>Dossiê:</b></td>
        <td><%= form.file_field :dossier, id: :admin_ticket_dossier %></td>
      </tr>
</table>
</div>
<% end %>