<% if current_user.has_role? :cliente %>
<style>
.list table, .list tr, .list th, .list td, .list thead, .list tbody {
  border: 1px silver solid;
}
.list a {
  color: #FF7800;
}
.list a:hover {
  color: #FF7800;
}
</style>

  <% if @admin_ticket.flow.stage == 1 %>
    <div style="position: relative; left: 50px">
      <table>
        <td>
          <tr>
            <td><b>CNPJ:</b></td>
            <td><%= @admin_ticket.cnpj %></td>
          </tr>
          <tr>
            <td><b>Nome:</b></td>
            <td><%= @admin_ticket.name %></td>
          </tr>
          <tr>
            <td><b>Descrição:</b></td>
            <td><%= @admin_ticket.description %></td>
          </tr>
          <tr>
            <td><b>Cidade:</b></td>
            <td><%= @admin_ticket.city %></td>
          </tr>
          <tr>
            <td><b>Estado:</b></td>
            <td><%= @admin_ticket.state %></td>
          </tr>
          <tr>
            <td><b>Endereço:</b></td>
            <td><%= @admin_ticket.address %></td>
          </tr>
          <tr>
            <td><b>Aprovar relatório?</b></td>
            <td><%= select_tag 'admin_ticket[rollout_customer_validate]', options_for_select([['Aprovar', 1]]) %></td>
          </tr>
      </table>
    </div>
    


    
    <div class="list" style="position: relative; width: 100%; left: 50px; margin-top: 20px">
      <table style="width: 90%">
        <tbody>
        <tr style="font-weight: bold">
          <td>PV</td>
          <td>Cliente</td>
          <td>FCT</td>
          <td>TipoEquipamento</td>
          <td>Dth_CadastroFCT</td>
          <td>Endereco</td>
          <td>Numero</td>
          <td>Complemento</td>
          <td>Bairro</td>
          <td>Cidade</td>
          <td>Estado</td>
          <td>DDD</td>
          <td>Telefone</td>
          <td>PessoaContato</td>
        </tr>
        <tr style="height:19px;">
          <td>140907556</td>
          <td>25940104</td>
          <td>29050</td>
          <td>PDV</td>
          <td>12/10/1998</td>
          <td>AV IGUATEMI</td>
          <td>777</td>
          <td>Q 6 LJ 7 PISO 2</td>
          <td>VL BRANOIN</td>
          <td>CAMPINAS</td>
          <td>SP</td>
          <td></td>
          <td></td>
          <td>LAERCIO</td>
        </tr>
        <tr>
          <td>33251</td>
          <td>25940104</td>
          <td>29060</td>
          <td>PDV</td>
          <td>12/10/1998</td>
          <td>PC PANAMERICA</td>
          <td>50</td>
          <td>                    </td>
          <td>ALTO PINHEIROS</td>
          <td>SAO PAULO</td>
          <td>SP</td>
          <td>011</td>
          <td>8139694</td>
          <td>RICARDO</td>
        </tr>
        <tr>
          <td>9737332</td>
          <td>25940104</td>
          <td>29070</td>
          <td>PDV</td>
          <td>12/10/1998</td>
          <td>AV IBIRAPUERA</td>
          <td>3103</td>
          <td>LJ 10</td>
          <td>MOEMA</td>
          <td>SAO PAULO</td>
          <td>SP</td>
          <td>011</td>
          <td>6962700</td>
          <td>RONALDO</td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <% if @admin_ticket.flow.stage == 6 %>
    <div style="position: relative; left: 50px">
      <table>
        <td>
          <tr>
            <td><b>CNPJ:</b></td>
            <td><%= @admin_ticket.cnpj %></td>
          </tr>
          <tr>
            <td><b>Nome:</b></td>
            <td><%= @admin_ticket.name %></td>
          </tr>
          <tr>
            <td><b>Descrição:</b></td>
            <td><%= @admin_ticket.description %></td>
          </tr>
          <tr>
            <td><b>Cidade:</b></td>
            <td><%= @admin_ticket.city %></td>
          </tr>
          <tr>
            <td><b>Estado:</b></td>
            <td><%= @admin_ticket.state %></td>
          </tr>
          <tr>
            <td><b>Endereço:</b></td>
            <td><%= @admin_ticket.address %></td>
          </tr>
          <tr>
            <td><b>Aprovar cronograma:</b></td>
            <td><%= select_tag 'admin_ticket[rollout_approve_installation]', options_for_select([['Aprovar', 1], ['Rejeitar', 0]]) %></td>
          </tr>
      </table>
    </div>

<div class="list" style="position: relative; width: 100%; left: 1%; margin-top: 20px">
      <table style="width: 98%">
        <tbody>
        <tr style="font-weight: bold">
          <td>PV</td>
          <td>Cliente</td>
          <td>FCT</td>
          <td>TipoEquipamento</td>
          <td>Dth_CadastroFCT</td>
          <td>Endereco</td>
          <td>Numero</td>
          <td>Complemento</td>
          <td>Bairro</td>
          <td>Cidade</td>
          <td>Estado</td>
          <td>DDD</td>
          <td>Telefone</td>
          <td>PessoaContato</td>
          <td>Data</td>
        </tr>
        <tr style="height:19px;">
          <td>140907556</td>
          <td>25940104</td>
          <td>29050</td>
          <td>PDV</td>
          <td>12/10/1998</td>
          <td>AV IGUATEMI</td>
          <td>777</td>
          <td>Q 6 LJ 7 PISO 2</td>
          <td>VL BRANOIN</td>
          <td>CAMPINAS</td>
          <td>SP</td>
          <td></td>
          <td></td>
          <td>LAERCIO</td>
          <td><%= @admin_ticket.dt_one %></td>
        </tr>
        <tr>
          <td>33251</td>
          <td>25940104</td>
          <td>29060</td>
          <td>PDV</td>
          <td>12/10/1998</td>
          <td>PC PANAMERICA</td>
          <td>50</td>
          <td>                    </td>
          <td>ALTO PINHEIROS</td>
          <td>SAO PAULO</td>
          <td>SP</td>
          <td>011</td>
          <td>8139694</td>
          <td>RICARDO</td>
          <td><%= @admin_ticket.dt_two %></td>
        </tr>
        <tr>
          <td>9737332</td>
          <td>25940104</td>
          <td>29070</td>
          <td>PDV</td>
          <td>12/10/1998</td>
          <td>AV IBIRAPUERA</td>
          <td>3103</td>
          <td>LJ 10</td>
          <td>MOEMA</td>
          <td>SAO PAULO</td>
          <td>SP</td>
          <td>011</td>
          <td>6962700</td>
          <td>RONALDO</td>
          <td><%= @admin_ticket.dt_three %></td>
        </tr>
        </tbody>
      </table>
    </div>
  <% end %>

<% end %>