<% if current_user.has_role? :eps %>
  <p>
    <strong>Cnpj:</strong>
    <%= @admin_ticket.cnpj %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @admin_ticket.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @admin_ticket.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @admin_ticket.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @admin_ticket.state %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @admin_ticket.address %>
  </p>

  <div class="field">
    <%= form.label :audio %>
    <%= form.file_field :audio, id: :admin_ticket_audio %>
  </div>
<% end %>