<%= form_with(model: admin_ticket, local: true) do |form| %>
  <% if admin_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_ticket.errors.count, "error") %> prohibited this admin_ticket from being saved:</h2>

      <ul>
      <% admin_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'atendimento', locals: {form: form} %>

  <%= render partial: 'middleoffice', locals: {form: form} %>

  <%= render partial: 'cliente', locals: {form: form} %>

  <%= render partial: 'eps', locals: {form: form} %>

  <%= render partial: 'log_interna', locals: {form: form} %>

  <%= render partial: 'backoffice', locals: {form: form} %>

  <%= render partial: 'log_externa', locals: {form: form} %>

  <%= render partial: 'n2', locals: {form: form} %>

  <%= render partial: 'pservico', locals: {form: form} %>

  <div class="actions">
    <%= form.submit 'Finalizar Atividade' %>
  </div>
<% end %>
