<%= form_with(model: admin_ticket, local: true) do |form| %>
  <% if admin_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_ticket.errors.count, "error") %> prohibited this admin_ticket from being saved:</h2>

      <ul>
      <% admin_ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if (current_user.has_role? :atendimento) %>
    <div class="field">
      <%= form.label :ticket_type %>
      <%= form.select(:ticket_type, options_for_select([['Aluguel', 1], ['Rollout', 2]])) %>
    </div>

    <div class="field">
      <%= form.label :cnpj %>
      <%= form.text_field :cnpj, id: :admin_ticket_cnpj %>
    </div>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :admin_ticket_name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, id: :admin_ticket_description %>
    </div>

    <div class="field">
      <%= form.label :city %>
      <%= form.text_field :city, id: :admin_ticket_city %>
    </div>

    <div class="field">
      <%= form.label :state %>
      <%= form.text_field :state, id: :admin_ticket_state %>
    </div>

    <div class="field">
      <%= form.label :address %>
      <%= form.text_field :address, id: :admin_ticket_address %>
    </div>
  <% end %>

  <% if (current_user.has_role? :middleoffice) %>

    <% if @admin_ticket.flow.nil? %>
      <div class="field">
        <%= form.label :ticket_type %>
        <%= form.select(:ticket_type, options_for_select([['Aluguel', 1], ['Rollout', 2]])) %>
      </div>

      <div class="field">
        <%= form.label :cnpj %>
        <%= form.text_field :cnpj, id: :admin_ticket_cnpj %>
      </div>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :admin_ticket_name %>
      </div>

      <div class="field">
        <%= form.label :description %>
        <%= form.text_field :description, id: :admin_ticket_description %>
      </div>

      <div class="field">
        <%= form.label :city %>
        <%= form.text_field :city, id: :admin_ticket_city %>
      </div>

      <div class="field">
        <%= form.label :state %>
        <%= form.text_field :state, id: :admin_ticket_state %>
      </div>

      <div class="field">
        <%= form.label :address %>
        <%= form.text_field :address, id: :admin_ticket_address %>
      </div>
    <% elsif @admin_ticket.flow.stage == 5 %>
      <p>
        <strong>Cnpj:</strong>
        <%= @admin_ticket.cnpj %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @admin_ticket.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @admin_ticket.description %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @admin_ticket.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @admin_ticket.state %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @admin_ticket.address %>
      </p>

      <%= form.label :consolidate_schedule %>
      <%= select_tag 'admin_ticket[consolidate_schedule]', options_for_select([['Aprovar', 1]]) %>
    <% end %>
  <% end %>

  <% if current_user.has_role? :cliente %>
    <% if @admin_ticket.flow.stage == 1 %>
      <p>
        <strong>Cnpj:</strong>
        <%= @admin_ticket.cnpj %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @admin_ticket.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @admin_ticket.description %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @admin_ticket.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @admin_ticket.state %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @admin_ticket.address %>
      </p>

      <div class="field">
        <%= form.label :rollout_customer_validate %>
        <%= select_tag 'admin_ticket[rollout_customer_validate]', options_for_select([['Aprovar', 1]]) %>
      </div>
    <% end %>

    <% if @admin_ticket.flow.stage == 6 %>
      <p>
        <strong>Cnpj:</strong>
        <%= @admin_ticket.cnpj %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @admin_ticket.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @admin_ticket.description %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @admin_ticket.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @admin_ticket.state %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @admin_ticket.address %>
      </p>

      <p>
        <strong>Rollout Customer Validate:</strong>
        <%= @admin_ticket.rollout_customer_validate %>
      </p>

      <p>
        <strong>Rollout Customer Verify:</strong>
        <%= @admin_ticket.rollout_customer_verification %>
      </p>

      <p>
        <strong>Rollout Eps Verify:</strong>
        <%= @admin_ticket.rollout_eps_details %>
      </p>

      <p>
        <strong>Rollout Consolidate Schedule:</strong>
        <%= @admin_ticket.consolidate_schedule %>
      </p>

      <div class="field">
        <%= form.label :rollout_approve_installation %>
        <%= select_tag 'admin_ticket[rollout_approve_installation]', options_for_select([['Aprovar', 1], ['Rejeitar', 0]]) %>
      </div>
    <% end %>

  <% end %>

  <% if current_user.has_role? :eps %>
    <p>
      <strong>Cnpj:</strong>
      <%= @admin_ticket.cnpj %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @admin_ticket.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @admin_ticket.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @admin_ticket.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @admin_ticket.state %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @admin_ticket.address %>
    </p>

    <div class="field">
      <%= form.label :audio %>
      <%= form.file_field :audio, id: :admin_ticket_audio %>
    </div>
  <% end %>

  <% if current_user.has_role? :log_interna %>
    <p>
      <strong>Cnpj:</strong>
      <%= @admin_ticket.cnpj %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @admin_ticket.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @admin_ticket.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @admin_ticket.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @admin_ticket.state %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @admin_ticket.address %>
    </p>

    <p>
      <strong>Rollout Customer Validate:</strong>
      <%= @admin_ticket.rollout_customer_validate %>
    </p>

    <div class="field">
      <%= form.label :rollout_customer_verification %>
      <%= select_tag 'admin_ticket[rollout_customer_verification]', options_for_select([['Aprovar', 1]]) %>
    </div>
  <% end %>

  <% if current_user.has_role? :backoffice %>
    <p>
      <strong>Cnpj:</strong>
      <%= @admin_ticket.cnpj %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @admin_ticket.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @admin_ticket.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @admin_ticket.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @admin_ticket.state %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @admin_ticket.address %>
    </p>

    <p>
      <strong>Audio:</strong>
      <%= @admin_ticket.audio %>
    </p>

    <div class="field">
      <%= form.label :dossier %>
      <%= form.file_field :dossier, id: :admin_ticket_dossier %>
    </div>
  <% end %>

  <% if current_user.has_role? :log_externa %>
    <p>
      <strong>Cnpj:</strong>
      <%= @admin_ticket.cnpj %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @admin_ticket.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @admin_ticket.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @admin_ticket.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @admin_ticket.state %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @admin_ticket.address %>
    </p>

    <p>
      <strong>Rollout Customer Validate:</strong>
      <%= @admin_ticket.rollout_customer_validate %>
    </p>

    <p>
      <strong>Rollout Customer Verify:</strong>
      <%= @admin_ticket.rollout_customer_verification %>
    </p>
    <div class="field">
      <%= form.label :rollout_eps_details %>
      <%= select_tag 'admin_ticket[rollout_eps_details]', options_for_select([['Aprovar', 1]]) %>
    </div>
  <% end %>

  <% if current_user.has_role? :n2 %>
    <p>
      <strong>Cnpj:</strong>
      <%= @admin_ticket.cnpj %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @admin_ticket.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @admin_ticket.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @admin_ticket.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @admin_ticket.state %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @admin_ticket.address %>
    </p>

    <p>
      <strong>Audio:</strong>
      <%= @admin_ticket.audio %>
    </p>

    <p>
      <strong>Dossier:</strong>
      <%= @admin_ticket.dossier %>
    </p>

    <% if @admin_ticket.flow.stage == 3 %>
      <%= form.label :dossier_status %>
      <%= select_tag 'admin_ticket[dossier_status]', options_for_select([['Aprovar', 1],  ['Recusar', 0]]) %>
    <% end %>

    <% if @admin_ticket.flow.stage == 4 %>
      <p>
        <strong>Dossier Status:</strong>
        <%= @admin_ticket.dossier_status %>
      </p>
      <div class="field">
        <%= form.label :debits_status %>
        <%= select_tag 'admin_ticket[debits_status]', options_for_select([['-', 0], ['Excluir Débitos', 1]]) %>
      </div>
    <% end %>

    <% if @admin_ticket.flow.stage == 5 %>
      <p>
        <strong>Dossier Status:</strong>
        <%= @admin_ticket.dossier_status %>
      </p>
      <p>
        <strong>Debit Status:</strong>
        <%= @admin_ticket.debits_status %>
      </p>
      <div class="field">
        <%= form.label :comercial_status %>
        <%= select_tag 'admin_ticket[comercial_status]', options_for_select([['-', 0], ['Ajustar Condição Comercial', 1]]) %>
      </div>
    <% end %>

    <% if @admin_ticket.flow.stage == 6 %>
      <p>
        <strong>Dossier Status:</strong>
        <%= @admin_ticket.dossier_status %>
      </p>
      <p>
        <strong>Debit Status:</strong>
        <%= @admin_ticket.debits_status %>
      </p>
      <p>
        <strong>Comercial Status:</strong>
        <%= @admin_ticket.comercial_status %>
      </p>
      <div class="field">
        <%= form.label :report %>
        <!--<%= form.text_field :report, id: :admin_ticket_report %>-->
        <%= form.file_field :report, id: :admin_ticket_report %>
      </div>
    <% end %>

  <% end %>

  <% if current_user.has_role? :pservico %>
    <p>
      <strong>Cnpj:</strong>
      <%= @admin_ticket.cnpj %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @admin_ticket.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @admin_ticket.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @admin_ticket.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @admin_ticket.state %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @admin_ticket.address %>
    </p>

    <p>
      <strong>Rollout Customer Validate:</strong>
      <%= @admin_ticket.rollout_customer_validate %>
    </p>

    <p>
      <strong>Rollout Customer Verify:</strong>
      <%= @admin_ticket.rollout_customer_verification %>
    </p>

    <p>
      <strong>Rollout Eps Verify:</strong>
      <%= @admin_ticket.rollout_eps_details %>
    </p>

    <div class="field">
      <%= form.label :rollout_date_inform %>
      <%= select_tag 'admin_ticket[rollout_date_inform]', options_for_select([['Aprovar', 1]]) %>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
