<% if current_user.has_role? :n2 %>
  <p>
    <strong>Cnpj:</strong>
    <%= @admin_ticket.cnpj %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @admin_ticket.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @admin_ticket.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @admin_ticket.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @admin_ticket.state %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @admin_ticket.address %>
  </p>

  <p>
    <strong>Audio:</strong>
    <%= @admin_ticket.audio %>
  </p>

  <p>
    <strong>Dossier:</strong>
    <%= @admin_ticket.dossier %>
  </p>

  <% if @admin_ticket.flow.stage == 3 %>
    <%= form.label :dossier_status %>
    <%= select_tag 'admin_ticket[dossier_status]', options_for_select([['Aprovar', 1],  ['Recusar', 0]]) %>
  <% end %>

  <% if @admin_ticket.flow.stage == 4 %>
    <p>
      <strong>Dossier Status:</strong>
      <%= @admin_ticket.dossier_status %>
    </p>
    <div class="field">
      <%= form.label :debits_status %>
      <%= select_tag 'admin_ticket[debits_status]', options_for_select([['-', 0], ['Excluir Débitos', 1]]) %>
    </div>
  <% end %>

  <% if @admin_ticket.flow.stage == 5 %>
    <p>
      <strong>Dossier Status:</strong>
      <%= @admin_ticket.dossier_status %>
    </p>
    <p>
      <strong>Debit Status:</strong>
      <%= @admin_ticket.debits_status %>
    </p>
    <div class="field">
      <%= form.label :comercial_status %>
      <%= select_tag 'admin_ticket[comercial_status]', options_for_select([['-', 0], ['Ajustar Condição Comercial', 1]]) %>
    </div>
  <% end %>

  <% if @admin_ticket.flow.stage == 6 %>
    <p>
      <strong>Dossier Status:</strong>
      <%= @admin_ticket.dossier_status %>
    </p>
    <p>
      <strong>Debit Status:</strong>
      <%= @admin_ticket.debits_status %>
    </p>
    <p>
      <strong>Comercial Status:</strong>
      <%= @admin_ticket.comercial_status %>
    </p>
    <div class="field">
      <%= form.label :report %>
      <!--<%= form.text_field :report, id: :admin_ticket_report %>-->
      <%= form.file_field :report, id: :admin_ticket_report %>
    </div>
  <% end %>

<% end %>