<p id="notice"><%= notice %></p>

<h1>Admin Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Flow</th>
      <th>Cnpj</th>
      <th>Name</th>
      <th>Description</th>
      <th>City</th>
      <th>State</th>
      <th>Address</th>
      <th>Audio</th>
      <th>Dossier</th>
      <th>Report</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tickets.each do |admin_ticket| %>
      <tr>
        <td><%= admin_ticket.flow_id %></td>
        <td><%= admin_ticket.cnpj %></td>
        <td><%= admin_ticket.name %></td>
        <td><%= admin_ticket.description %></td>
        <td><%= admin_ticket.city %></td>
        <td><%= admin_ticket.state %></td>
        <td><%= admin_ticket.address %></td>
        <td><%= admin_ticket.audio %></td>
        <td><%= admin_ticket.dossier %></td>
        <td><%= admin_ticket.report %></td>
        <td><%= link_to 'Show', admin_ticket %></td>
        <td><%= link_to 'Edit', edit_admin_ticket_path(admin_ticket) %></td>
        <td><%= link_to 'Destroy', admin_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Ticket', new_admin_ticket_path %>
