<%= form_with(model: admin_user, local: true) do |form| %>
  <% if admin_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_user.errors.count, "error") %> prohibited this admin_user from being saved:</h2>

      <ul>
      <% admin_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :admin_user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :admin_user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :admin_user_password %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.number_field :role_id, id: :admin_user_role_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
