<!DOCTYPE html>
<html>
  <head>
    <style>
      .menu {
        position: relative; 
        width:100%; 
        background-color: white; 
        height: 60px;
        border-bottom: 1px #FF7800 solid;
      }
      .login{
        position: absolute; 
        background-color: #FF7800; 
        top: 0px; 
        right: 0px; 
        width: 300px; 
        height: 100%; 
        text-align: center;
        vertical-align: middle;
        color: white;
      }
      .login a {
        color: white;
        font-size: 12pt;
      }
      .login a:hover {
        color: white;
        font-size: 12pt;
      }
    </style>
    <title>AppRede</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <div class="menu" style="">
        <div style="position: relative; left: 0px; right: 300px; top: 10px">
          <img src="/images/logo-rede.svg" style="position: relative; height: 40px; left: 60px">
        </div>
          <% if user_signed_in? %>
          <div class="login" style="line-height: 30px">
            <%= current_user.email %><br/>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
          <div class="login" style="line-height: 60px">
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </div>
      </div>

      <div style="position: relative;">

        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>

        <%= yield %>
      </div>
    </div>

  </body>
</html>
